@using TaxiManager.Models.Enums;
@model AssignDriverVM

<div class="card">
    <div class="card-header">
        <h2 class="card-title display-3">Assign @Model.Driver.FirstName @Model.Driver.LastName to car</h2>
    </div>
    <div class="card-body">
        <div class="container-lg">
            <form method="post">
                <h4>Available cars</h4>
                <div class="row mb-3">
                    @foreach (var car in Model.Cars)
                    {
                        <div class="col-3">
                            <input type="hidden" hidden name="driverId" value="@Model.Driver.Id" />
                            <input type="radio" name="carId" class="form-check-input" id="@car.LicensePlate" value="@car.Id" />
                            <label for="@car.LicensePlate" class="form-check-label">@car.Model - @car.LicensePlate</label>
                        </div>
                    }
                </div>
                <div class="mb-3">
                    <select name="shift" required asp-items="Html.GetEnumSelectList<Shift>()" class="form-select">
                        <option selected disabled>--Select Shift--</option>
                    </select>
                </div>
                <div class="p-3">
                    <button type="submit" class="btn btn-success">Assign driver</button>
                    <a asp-controller="DriverAssign" asp-action="Index" class="btn btn-secondary">Go back</a>
                </div>
            </form>
        </div>
    </div>
</div>