@using Microsoft.AspNetCore.Identity;
@model List<IdentityUser>

<div class="container">
    <div>
        <div class="text-end">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-lg btn-success">Register new user</a>
        </div>
        <h2 class="display-3">Manage Users</h2>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Username</td>
                <td>Email</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-sm btn-danger mx-auto"><i class="bi bi-trash"></i> Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*@model List<User>

<div class="container">
    <div>
        <div class="text-end">
            <a asp-controller="User" asp-action="Register" class="btn btn-lg btn-success">Register new user</a>
        </div>
        <h2 class="display-3">All Users</h2>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
            {
                <tr>
                    <td>@obj.Id</td>
                    <td>@obj.Username</td>
                    <td>@obj.Role</td>
                    <td><a asp-controller="User" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-sm btn-danger mx-auto"><i class="bi bi-trash"></i> Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
*@